.wrapper {
  padding: 0 5%;
}

.list-to-flex {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
}

.clearfix() {
  display: table;
  clear: both;
  content: "";
}

.hidden-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


.icons-sprite {
	background-image: url("../img/icons/icons@1x/icons-sprite.png");
    
    @media (-webkit-min-device-pixel-ratio: 2) {
		 background-image: url("../img/icons/icons@2x/icons-sprite@2x.png");
		 background-size: 81px 23px;
	}
}

.sprite-icon-features--aqua {
	width: 16px;
	height: 22px;
	background-position: 0 0;
}

.sprite-icon-features--cardio {
	width: 26px;
	height: 22px;
	background-position: -16px 0;
}

.sprite-icon-features--group {
	width: 19px;
	height: 23px;
	background-position: -42px 0;
}

.sprite-icon-features--tablet {
	width: 20px;
	height: 23px;
	background-position: -61px 0;
}
