.page-footer {
    min-width: 1200px;
    
    padding: 35px 0;
    background: url("../img/bg-footer.jpg") center no-repeat;
    
    @media (-webkit-min-device-pixel-ratio: 2) {
        background-image: url("../img/bg-footer@2x.jpg");
        background-size: cover;
      }
    
    &__wrap {
        .wrapper;
    }
    
    &__top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid @grey-70;
        padding-bottom: 25px;
    }
}

.twitter {
    
    a {
        display: flex;
        width: 575px;
    }
    
    &__text {
        position: relative;
    display: block;
    color: @white;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: @font-size-base - .1;
    line-height: @line-height-base - .2;
    font-weight: 100;
        margin-left: 40px;
        
        &:before {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background-image: url("../img/icons/icons-svg/icon-social--twitter.svg");
            background-repeat: no-repeat;
            left: -35px;
            background-size: contain;
            top: 8px;
}
    
    span {
        display: inline-block;
        margin-left: 5px;
        color: @grey-71;
    }
}
    &__icon {
    width: 24px;
    height: 24px;
    margin: 12px 15px 0 0;
    background-repeat: no-repeat;
}
}



.social {
    .list-to-flex;
    font-size: 0;
    
    a {
        display: inline-block;
        .hidden-text;
        width: 26px;
        height: 26px;
//        background-size: cover;
        background-position: center;
        border: 1px solid @grey-20;
        
        
        &:hover {
            border: 1px solid @white;
        }
        
    }
    
    &__button-facebook {
        background: url("../img/icons/icons-svg/icon-social--fb.svg") no-repeat;
    }
    
    &__button-twitter {
        background: url("../img/icons/icons-svg/icon-social--twitter.svg") no-repeat;
    }
    
    &__button-pinterest {
        background: url("../img/icons/icons-svg/icon-social--pin.svg") no-repeat;
    }
    
    &__button-google {
        background: url("../img/icons/icons-svg/icon-social--g+.svg") no-repeat;
    }
    
    &__button-tumblr {
        background: url("../img/icons/icons-svg/icon-social--tumblr.svg") no-repeat;
    }
    
    &__button-instagram {
        background: url("../img/icons/icons-svg/icon-social--instagram.svg") no-repeat;
    }
    
    &__button-rss {
        background: url("../img/icons/icons-svg/icon-social--rss.svg") no-repeat;
    }
}

.page-footer__middle {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 100px 0;
    }

.contact {
    width: 370px;
    
    &__title {
        font-family: Oswald, Arial, sans-serif;
        font-size: @font-size-base;
        line-height: @line-height-base - .3;
        font-weight: bold;
        color: @white;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 23px;
    }
    
    &__text {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: @font-size-base - .2;
        line-height: @line-height-base - .3;
        font-weight: 100;
        color: @grey-c6;
        margin-bottom: 22px;
    }
    
    &__phone {
        position: relative;
        padding-left: 19px;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: @font-size-base - .2;
        line-height: @line-height-base - .3;
        font-weight: 100;
        color: @grey-c6;
        font-weight: normal;
        margin: 0;
        
        &:before {
            width: 8px;
            height: 12px;
            top: 3px;
            left: 2px;
            content: "";
            position: absolute;
            background: url("../img/icons/icons-svg/icon-contact--phone.svg") no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    
    &__email {
        position: relative;
        padding-left: 22px;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: @font-size-base - .2;
        line-height: @line-height-base - .3;
        font-weight: 100;
        color: @grey-c6;
        margin: 0;
        
        &:before {
            width: 12px;
            height: 12px;
            top: 3px;
            left: 0;
            content: "";
            position: absolute;
            background: url("../img/icons/icons-svg/icon-contact--mail.svg") no-repeat;
            background-size: cover;
        }
    }
}

.write-us {
    width: 670px;
    
    &__title {
        font-family: Oswald, Arial, sans-serif;
        font-size: @font-size-base;
        line-height: @line-height-base - .3;
        font-weight: bold;
        color: @white;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 27px;
    }
    
    form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        input {
            width: 190px;
            border: 1px solid @grey-4f;
            margin-bottom: 16px;
            padding: 10px;
            background: none;
            
            &:focus {
                outline: none;
                color: @grey-c6;
            }
            
            &::-webkit-input-placeholder {
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - .3;
            color: @grey-4f;
            text-transform: uppercase;
            vertical-align: middle;
            }
        
           &::-moz-placeholder {
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - .3;
            color: @grey-4f;
            text-transform: uppercase;
            vertical-align: middle;
            }
        
        &:-moz-placeholder {
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - .3;
            color: @grey-4f;
            text-transform: uppercase;
            }
        
        &:-ms-input-placeholder {
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - .3;
            color: @grey-4f;
            text-transform: uppercase;
            }
        }
        
        textarea {
            width: 419px;
            height: 91px;
            padding: 10px;
            border: 1px solid @grey-4f;
            background: none;
            
            &:focus {
                outline: none;
                color: @grey-c6;
            }
            
            &::-webkit-input-placeholder {
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - .3;
            color: @grey-4f;
            text-transform: uppercase;
            vertical-align: middle;
            }
            
            &::-moz-placeholder {
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - .3;
            color: @grey-4f;
            text-transform: uppercase;
            vertical-align: middle;
            }
        
        &:-moz-placeholder {
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - .3;
            color: @grey-4f;
            text-transform: uppercase;
            }
        
        &:-ms-input-placeholder {
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - .3;
            color: @grey-4f;
            text-transform: uppercase;
            }
        }
        
        .write-us__btn {
            width: 212px;
            height: 36px;
            background-color: @red;
            background-image: url("../img/icons/icons-svg/icon-write-us__btn.svg");
            background-repeat: no-repeat;
            background-position: 180px 11px;
            background-size: 8px 14px;
            border: none;
            font-family: Oswald, Arial, sans-serif;
            font-size: @font-size-base;
            line-height: @line-height-base - 1;
            color: @white;
            text-transform: uppercase;
            text-align: left;
            padding-left: 20px;
            margin-left: 17px;
            
            &:active {
                background-color: @red-dark;
                outline: none;
                color: @white;
            }
            
            &:focus {
                color: @white;
}
        }
        
        span {
            position: absolute;
            right: 6%;
            bottom: 28%;
            font-family: "Open Sans", Arial, sans-serif;
            font-size: @font-size-base - .2;
            line-height: @line-height-base - .3;
            font-weight: 100;
            color: @grey-70;
        }
    }
    
}

.page-footer__bottom {
        display: flex;
        justify-content: space-between;
    
    a {
        color: @red;
        text-decoration: underline;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: @font-size-base - .2;
        line-height: @line-height-base - .3;
        font-weight: 100;
    }
    }

.copyright {
    font-family: "Open Sans", Arial, sans-serif;
        font-size: @font-size-base - .2;
        line-height: @line-height-base - .3;
        font-weight: 100;
        color: @grey-70;
}



